.intro-text{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 65px;
}

.flex-on-em{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.spacing{
	margin-top: 50px;
}