.title-text{
	font-family: 'Pacifico', cursive;
	font-weight: 500;
	font-size: 500%;
	color: rgb(255,255,255);
	transition: all 300ms;
	cursor: pointer;
	z-index: 1;
}

.title-text:hover{
	transform: scale(1.02);
}

@media (max-width: 900px) {
	.title-text{
		font-size: 300%;
	}
}

@media (max-width: 535px) {
	.title-text{
		font-size: 250%;
		position: absolute;
		top:5px;
	}
}