.login-form-container{
	height: 100%;
	border-radius: 10px;
	display: grid;
	grid-template-rows: minmax(70px, 10vh) 1fr;
}

.login-title{
	grid-row-start: 1;
	grid-row-end: 2;
	background-color: rgb(23, 26, 45);
	color: white;
	font-family: 'Pacifico', cursive;
	font-size: 200%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.login-form{
	grid-row-start: 2;
	grid-row-end: 3;
	flex-direction: column;
	justify-content: space-around;
}

.login-button{
	display: flex;
	justify-content: center;
	padding: 10px;
	width: 70px;
	margin-right:6px;
	border: rgb(23,26,45) solid 1px;
	border-radius: 10px;
	background-color: white;
	color: rgb(23,26,45);
	transition: all 500ms;
	cursor: pointer;
	padding-left: 10px;
}

.login-button:hover{
	color:white;
	background-color:rgb(23,26,45);
}

.cancel-button:hover{
	background-color: rgb(179, 38, 38);	
}