.card{
	border:1px solid black;
	box-shadow: 2px 4px rgb(174, 174, 174);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	transition: all 300ms;
	cursor: pointer;
}

.card:hover{
	transform: scale(1.02);
}

.card-title{
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: rgb(23, 26, 45);
	margin: 0px;
	padding: 10px 0px;
	color: white;
	font-weight: 700;
	font-size: 250%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.card-content{

}

.card-1{
	grid-column-start: 1;
	grid-column-end: 2;
}

.card-2{
	grid-column-start:2;
	grid-column-end: 3;
}

.card-3{
	grid-column-start: 3;
	grid-column-end: 4;
}

.card-4{
	grid-column-start: 4;
	grid-column-end: 5;
}

.card-5{
	grid-column-start: 5;
	grid-column-end: 6;
}

.card-6{
	grid-column-start: 6;
	grid-column-end: 7;
}