.signout-button{
	display: flex;
	justify-content: center;
	padding: 10px;
	width: 80px;
	margin-right:6px;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.6);
	color: rgb(23, 26, 45);
	transition: all 500ms;
}

.signout-button:hover{
	background-color: rgba(255,255,255,1);
	cursor: pointer;
}

@media (max-width: 700px){
	.signout-button{
		margin-top: 3px;
	}
}

@media (max-width: 500px){
	.signout-button{
		display: inline-flex;
		flex-direction: row;
		align-self: flex-end;
	}
}