input{
	border-top: 1px solid white;
	border-right: 1px solid white;
	border-left: 1px solid white;
	border-bottom: 1px solid rgb(23,26,45);
	border-radius: 3px;
	margin-top: 7px;
	padding: 4px;
	transition: all 500ms;
}

input:focus{
	outline: none;
	border:1px rgba(23,26,46) solid;
}

input::placeholder{
	color:rgba(23,26,46,0.3);
}


.App{
	font-family: 'Montserrat', sans-serif;
}

.background-top-bar{
	background-color: rgb(23, 26, 45);
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left:0px;
	right:0px;
	top:0px;
	height: 100vh;
	z-index: 10;
	transition: all 2s;
}

.background-top-bar.on{
	height: 150px;
}

.button-pos{
	position: fixed;
	right:30px;
	top:55px;
	display: inline-flex;
}

.page-padding{
	top:0px;
	left:0px;
	right:0px;
	height: 150px;
}

@media (max-width: 700px) {
	.button-pos{
		display: flex;
		flex-direction: column;
		top:30px;
	}
}

@media (max-width: 500px) {
	.button-pos{
		visibility: hidden;
	}
}


.faded{
	opacity: 0;
	transition: all 600ms;
}

.in {
	opacity: 1;
}