.background-top-bar{
	background-color: rgb(23, 26, 45);
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left:0px;
	right:0px;
	top:0px;
	height: 100vh;
	z-index: 10;
	transition: all 2s;
}

.background-top-bar.on{
	height: 100px;
}

.button-pos{
	position: fixed;
	right:30px;
	top:30px;
	display: inline-flex;
}

.page-padding{
	top:0px;
	left:0px;
	right:0px;
	height: 100px;
}

@media (max-width: 700px) {
	.background-top-bar{

	}
	.button-pos{
		display: flex;
		flex-direction: column;
		top:7px;
	}
}