.background-top-bar{
	background-color: rgb(23, 26, 45);
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left:0px;
	right:0px;
	top:0px;
	height: 600px;
	z-index: 10;
}